<!DOCTYPE html>

<html ng-app="shorterApp">
<head>
    <title>Shortify.me</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers/shortingCtrl.js"></script>
    <script src="js/controllers/urlStatistics.js"></script>
    <script src="js/angular-chart/Chart.js"></script>
    <script src="js/angular-chart/angular-chart.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/angular-chart.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
	
<body ng-controller="shortingCtrl">


    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href ng-click="showCustomURLView()">{{textCustomURL}}</a></li>
        </ul>

        <form class="navbar-form navbar-right ">         
            <div class="form-group" ng-controller="urlStatistics">
                <input name="linkToExpect" ng-model="urlforstat" type="url" size="30" class="form-control" placeholder="Inspect a Shortify URL...">
                <button type="submit" class="btn btn-primary" ng-click="showStatistics(urlforstat)">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </button>
            </div>
        </form>
        </div>
        </div>
    </nav>           


	<div id="container" class="centered">
        
        <div class="animated fadeIn centeredText">
            <img  alt="Shortify.me" src="images/shortify_logo.png" />
        </div>
        
        <div id="shortify" ng-hide="!notStatisticsView" ng-controller="urlStatistics">
            <div id="longURLDiv" ng-show="!customURLView">
                <form name="urlInputForm" class="form-inline centeredText">
                    <div class="form-group">
                        <input class="form-control" tabindex="1" name="linkInput" type="text" size="50"
                               ng-model="url" placeholder="Insert here your long URL: http://"></input>
                        <input class="btn btn-success" tabindex="2" id="shortifyButton" type="submit" 
                               value="Shortify!" ng-click="convert(url);"></input>
                    </div>
                </form>
            </div>
        
            <div id="customURLDiv" ng-show="customURLView">
                <form name="urlInputForm" class="centeredText" >
                    <div class="form-group">
                        <input class="form-control" tabindex="1" name="linkInput" type="text" size="50" 
                               ng-model="url" placeholder="Insert here your long URL: http://"></input>
                    </div>

                    <div class="input-group" >
                        <span class="input-group-addon" id="basic-addon1">shortify.me/</span>
                        <input type="text" ng-model="customText" class="form-control"
                               placeholder="Your-custom-text" aria-describedby="basic-addon1">

                    </div>
                    <br/>
                    <div class="form-group">
                        <input class="btn btn-success" tabindex="2" id="shortifyButton" type="submit"
                            value="Make your custom URL!" ng-click="convert(url, customText);"></input>
                    </div>
                </form>
            </div>
        </div>

        <div id="statisticsDiv" class="chart-container" ng-controller="urlStatistics" ng-hide="notStatisticsView">
            <canvas id="bar" class="chart chart-bar centeredText" data="data" labels="labels" width="700" height="350" series="series"></canvas>
        </div>


        <div id="resultDiv" ng-show="done">           
            <p>Your SHORTIFY URL</p>
            <p class="resultLink"><strong>{{"localhost:4567/"+shorturl}}</strong></p>      
        </div>

        <div id="errorDiv" ng-show="error">           
            <p>An error occurred. Please try again later.</p>     
        </div>
    </div>


</body>

</html>