body{
   font-family: Verdana, sans-serif;
   font-size: 12px;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-top:-100px;
    margin-left:-250px;
}

.centeredText {
    text-align: center;
}

.resultLink {
    color:darkgreen;
}

#customURLDiv {
    width: 500px;
}

#resultDiv, #errorDiv {
    position: absolute;
    left: 50%;
    width: 400px;   
    margin-left:-200px;
    margin-top: 50px;
}

/* ANIMAZIONE COMPARSA e SCOMPARSA */
.animated { 
    -webkit-animation-duration: .5s; 
    animation-duration: .5s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}

@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}

/* ANIMAZIONE SPOSTAMENTO LOGO */
@-webkit-keyframes fadeOutUpBig { 
    0% { 
        -webkit-transform: translateY(0); 
    } 
    100% { 
        -webkit-transform: translateY(-5px); 
    } 
} 

@keyframes fadeOutUpBig { 
    0% { 
        transform: translateY(0); 
    } 
    100% { 
        transform: translateY(-5px); 
    } 
} 
.fadeOutUpBig { 
    -webkit-animation-name: fadeOutUpBig; 
    animation-name: fadeOutUpBig; 
}

.chart-container {
    position: absolute;
    right: 5%;
    left: 5%;
}

.chart-container {
    position: absolute;
    right: 5%;
    left: 5%;
}
